.social-bar {
    position: fixed;
    right: 0;
    top: 40%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 100;
    text-decoration: none;
}

.icon {
    color: white;
    text-decoration: none;
    padding: .7rem;
    display: flex;
    transition: all .5s;
}

.icon-facebook {
    background: #3b5998;
}

.icon-twitter {
    background: #1DA1F2;
}

.icon-youtube {
    background: #c4302b;
}

.icon-tiktok {
    background: #fff;
}

.icon-whatsapp {
    background: #25d366;
}

.icon-instagram {
    background: #3f729b;
}

.icon-linkedin2 {
    background: #0e76a8;
}

.icon:first-child {
    border-radius: 1rem 0 0 0;
}

.icon:last-child {
    border-radius: 0 0 0 1rem;
}

.icon:hover {
    color: #fff;
    padding-right: 3rem;
    border-radius: 1rem 0 0 1rem;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.9);
}