@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?u6gmd4');
    src: url('fonts/icomoon.eot?u6gmd4#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?u6gmd4') format('truetype'), url('fonts/icomoon.woff?u6gmd4') format('woff'), url('fonts/icomoon.svg?u6gmd4#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-tiktok:before {
    content: "\e900";
}

.icon-facebook:before {
    content: "\ea90";
}

.icon-instagram:before {
    content: "\ea92";
}

.icon-whatsapp:before {
    content: "\ea93";
}

.icon-facebook:before {
    content: "\ea90";
}

.icon-twitter:before {
    content: "\ea96";
}

.icon-youtube:before {
    content: "\ea9d";
}

.icon-linkedin2:before {
    content: "\eaca";
}